//- extends layout
//- block content
//- h1= title
//-   form(action="/" method="POST")

//-     label.label First Name
//-       //input.input(type="text" name="firstname" placeholder="First Name")
  
//-     label.label Last Name
//-     //  input.input(type="text" name="lastname" placeholder="Last Name")

//-     label.label Email
//-      // input.input(type="text" name="email" placeholder="Email")

//-     input.button(type="submit" value="Go")